// route: application

@use "@material/theme" as theme;
@use "@material/typography" as typography;

.route__application {
  b {
    font-weight: 500;
  }

  a {
    text-decoration: none;
    @include theme.prop(color, primary);
    font-weight: 500;
  }

  .main-content {
    padding: 0 24px 24px;
  }

  li {
    @include typography.typography(body1);
  }

  .code-snippet {
    margin-bottom: 48px;

    &__header {
      @include theme.prop(background-color, primary);
      @include theme.prop(color, text-primary-on-light);
    }
  }
}
