// route: application

@use "@material/theme" as theme;
@use "@material/typography" as typography;

.route__application {
  b {
    font-weight: 500;
  }

  a {
    text-decoration: none;
    @include theme.prop(color, primary);
    font-weight: 500;
  }

  .main-content {
    padding: 0 24px;
  }

  li {
    @include typography.typography(body1);
  }
}
