.route__application b {
  font-weight: 500;
}
.route__application a {
  text-decoration: none;
  color: #6200ee;
  /* @alternate */
  color: var(--mdc-theme-primary, #6200ee);
  font-weight: 500;
}
.route__application .main-content {
  padding: 24px;
}

.demo-hello .mdc-button[type=submit] {
  margin-top: 24px;
}
.demo-hello__greeting {
  padding: 24px 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow: auto;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}